@mixin title {
  margin-bottom: 15px;
    font-size: 24px;
    line-height: 26px;
    color: black;
}

@mixin description {
    margin: 0 15px;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 22px;
    color: black;
}

@mixin image__container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px 0;
}

@mixin image__item {
  transition: .2s transform;
    &:hover {
      transform: scale(1.05, 1.05);
    }
};

@mixin list {
  padding-left: 35px;
  list-style-type: disc;
}

@mixin item {
  margin-bottom: 15px;
}

@mixin underline {
  text-decoration: underline;
}

@mixin link__reaction {
  transition: .3s opacity, .25s color;
        &:hover {
            opacity: .7;
        }
        &:active{
            color: grey;
        }
}