@font-face {
  font-family: "exo";
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  src: url('../fonts/exo-2-regular.woff2') format('woff2'),
  url('../fonts/exo-2-regular.woff') format('woff');
}

* {
  box-sizing: border-box;
}

body {
  font-family: "exo", sans-serif;
  background: linear-gradient(135deg, #141114 39%,#415c6d 100%);
  //background: linear-gradient(160deg, #060c14 10%,#000 30%, #232422 80%);
  background-attachment: fixed;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
