.no-webp .greeting {
    background: url("../img/bg-greeting.jpg") no-repeat center;
    background-size: cover;
}

.greeting {
    background: url('../img/bg-greeting.webp') no-repeat center;
    background-size: cover;
    &__overlay {
        position: relative;
        background: rgba(0, 0, 0, .85);
    }
    &__next-screen {
        position: absolute;
        bottom: 50px;
        left: 50%;
        width: 23px;
        height: 23px;
        margin-left: -7.5px;
        font-size: 0;
        border-left: 2px solid #fff;
        border-bottom: 2px solid #fff;
        transition: .2s opacity;
        transform: rotate(-45deg);
        will-change: transform;
        animation: next-screen 2s infinite ease-in-out;
        animation-direction: alternate;
        &:hover {
            opacity: .65;
        }
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        padding: 0 20%;
    }
    &__title {
        margin-bottom: 25px;
        font-size: 3vw;
        line-height: 3.5vw;
        text-align: center;
        color: #fff;
    }
    &__description {
        margin: 0;
        font-size: 22px;
        text-align: center;
        color: #fff;
    }
}

@keyframes next-screen {
    from {
        transform: translateY(0px) rotate(-45deg)
    }

    50% {
        transform: translateY(-10px) rotate(-45deg)
    }

    to {
        transform: translateY(0px) rotate(-45deg)
    }
}