.no-webp .greeting {
    background: url("../img/bg-greeting.jpg") no-repeat center;
    background-size: cover;
}

.greeting {
    background: url('../img/bg-greeting.webp') no-repeat center;
    background-size: cover;
    &__overlay {
        position: relative;
        background: rgba(0, 0, 0, .85);
    }
    &__next-screen {
        position: absolute;
        display: block;
        bottom: 40px;
        left: 50%;
        width: 20px;
        height: 20px;
        margin-left: -7.5px;
        font-size: 0;
        border-left: 2px solid #fff;
        border-bottom: 2px solid #fff;
        transform: rotate(-45deg);
        transition: .2s opacity;
        animation: next-screen 1.7s infinite ease;
        animation-direction: alternate;
        &:hover {
            opacity: .65;
        }
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        padding: 0 20%;
    }
    &__title {
        margin-bottom: 25px;
        font-size: 40px;
        line-height: 55px;
        text-align: center;
        color: #fff;
    }
    &__description {
        margin: 0;
        font-size: 22px;
        text-align: center;
        color: #fff;
    }
}

@keyframes next-screen {
    50% {bottom: 42px}
}