.up {
    position: fixed;
    right: 30px;
    bottom: 85px;
    z-index: 9999;
    display: inline-block;
    opacity: 1;
    transition: .15s opacity;
    &__btn {
        position: relative;
        display: block;
        width: 40px;
        height: 40px;
        font-size: 0;
        background: #fff;
        border-radius: 50%;
        box-shadow: 0 0 3px 1px #06044e;
        transition: .2s;
        &:hover {
            background: rgb(196, 196, 196);
        }
        &:after {
            content: '';
            position: absolute;
            top: 4px;
            left: 50%; 
            width: 0; 
            height: 0;
            margin-left: -5px;
            border-width: 9px 0 9px 10px;
            border-style: solid;
            border-color: transparent #3f7baf;
            transform: rotate(270deg);
        }
        &:before {
            content: '';
            position: absolute;
            top: 15px;
            left: 50%;
            width: 6px;
            height: 15px;
            margin-left: -3px;
            background: #3f7baf;
        }
    }
    &--none {
        opacity: 0;
    }
}
