.menu {
    display: flex;
    justify-content: flex-end;
    padding: 20px 0;
    &__wrapper {
        padding: 0 25px;
    }
    &__list {
        display: flex;
        justify-content: space-between;
        max-width: 750px;
    }
    &__link {
        display: inline-block;
        width: 100%;
        padding: 0 15px;
        font-size: 18px;
        line-height: 22px;
        color: #fff;
        @include link__reaction;
    }
}