.main {
  background: url('../../img/bg.png') center;
  &__wrapper{
    max-width: 1300px;
    margin: 0 auto;
    background: #fff;
    border-bottom: 1px solid grey;
    box-shadow: 0 2px 5px 0 #000;
  }
}