.footer {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 40px 0 50px;
    height: 100vh;
  }
}

@media (min-width: 800px) {
  .footer {
    &__wrapper {
      flex-direction: row;
      align-items: flex-end;
    }
  }
}