.easily-discarded {
  margin-bottom: 25px;
  &__title {
    @include title;
  }
  &__list {
    //margin-left: 15px;
    list-style: circle outside;
  }
  &__item {
    margin-bottom: 15px;
  }
  &__text {
    @include description;
    &--list {
      //margin: 0 15px 0;
    }
  }
  &__text--underline {
    text-decoration: underline;
  }
}