.constructions {
  padding: 20px 35px 35px;
  border-bottom: 1px solid grey;
}

.read-more {
  overflow: hidden;
  margin: 0;
}

.read-more__btn {
  display: block;
  width: 120px;
  height: 35px;
  color: blue;
  background: lightgray;
  border: none;
  border-radius: 15px;
}